<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="supplier/supplier-fragment::head-css-link"></th:block>
    <title>Thêm sản phẩm RecAuctionCMS</title>
</head>

<body>
<div id="app">
    <!-- Page Preloder -->
    <div id="pre-loader">
        <div class="loader"></div>
    </div>
    <div class="main-wrapper main-wrapper-1">
        <th:block th:insert="supplier/supplier-fragment::header-sidebar"></th:block>
        <!-- Main Content -->
        <div class="main-content">
            <section class="section">
                <div class="section-header">
                    <h1>Editor</h1>

                    <div class="section-header-breadcrumb">
                        <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
                        <div class="breadcrumb-item"><a href="#">Sản phẩm</a></div>
                        <div class="breadcrumb-item">Thông tin</div>
                    </div>
                </div>

                <div class="section-body">
                    <h2 class="section-title">Thêm sản phẩm</h2>
                    <p class="section-lead">Nhập thông tin đầy đủ cho sản phẩm</p>

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Thông tin sản phẩm</h4>
                                    <div class="section-header-button" th:if="${productDTO.productId != 0}">
                                        <button id="remove-product" class="btn btn-danger">Xóa sản phẩm</button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <form th:object="${productDTO}" th:action="${action}" method="post"
                                          enctype="multipart/form-data">
                                        <div class="form-group row mb-4">
                                            <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Mã sản
                                                phẩm</label>
                                            <div class="col-sm-12 col-md-7">
                                                <input type="text" class="form-control" readonly data-toggle="tooltip"
                                                       data-placement="bottom"
                                                       title="Không cần điền" th:field="*{productCode}">
                                            </div>
                                        </div>
                                        <div class="form-group row mb-4">
                                            <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Tên sản
                                                phẩm(*)</label>
                                            <div class="col-sm-12 col-md-7">
                                                <input th:field="*{productName}" type="text" class="form-control"
                                                       required
                                                       data-toggle="tooltip" data-placement="bottom"
                                                       title="Tên sản phẩm không chứa các ký tự đặt biệt">

                                            </div>
                                        </div>
                                        <div class="form-group row mb-4">
                                            <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Doanh
                                                mục(*)</label>
                                            <div class="col-sm-12 col-md-7">
                                                <select th:field="*{categoryId}" class="form-control selectric"
                                                        required>
                                                    <th:block th:each="c: ${categories}">
                                                        <option th:value="${c.categoryId}"
                                                                th:text="${c.categoryName}"></option>
                                                    </th:block>
                                                </select>
                                            </div>

                                        </div>
                                        <div class="form-group row mb-4">
                                            <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Mô tả
                                                ngắn gọn(*)</label>
                                            <div class="col-sm-12 col-md-7">
                                                <input th:field="*{subDetail}" type="text" class="form-control" required
                                                       data-toggle="tooltip" data-placement="bottom"
                                                       title="Không quá 255 ký  tự">

                                            </div>
                                        </div>
                                        <div class="form-group row mb-4">
                                            <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Hashtag(*)</label>
                                            <div class="col-sm-12 col-md-7">
                                                <input th:field="*{productTag}" type="text" class="form-control"
                                                       required
                                                       data-toggle="tooltip" data-placement="bottom"
                                                       title="Vui lòng nhập chính xác các tag giúp cho việc ghép sản phẩm và đấu giá trở nên phù hợp"
                                                       placeholder="#samsung#s23#galaxy">

                                            </div>
                                        </div>
                                        <div class="form-group row mb-4">
                                            <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Thông
                                                tin sản phẩm(*)</label>
                                            <div class="col-sm-12 col-md-7">
                                                <textarea th:field="*{detail}" class="summernote"></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group row mb-4">
                                            <label class="col-form-label text-md-right col-3 col-md-3 col-lg-3">Giá mặc
                                                định(*)</label>
                                            <div class="col-sm-3 col-md-3">
                                                <input th:field="*{defaultPrice}" type="number" class="form-control"
                                                       id="default-price"
                                                       data-toggle="tooltip" data-placement="bottom"
                                                       title="Mức giá cơ bản của sản phẩm">
                                            </div>

                                            <label class="col-form-label col-1 col-md-1 col-lg-1">Giá thấp nhất</label>
                                            <div class="col-sm-3 col-md-3 justify-content-start">
                                                <input th:field="*{minPrice}" type="text" class="form-control"
                                                       id="min-price"
                                                       data-toggle="tooltip"
                                                       data-placement="bottom"
                                                       title="Mức giá thấp tối đa có thể tham gia đấu giá">
                                            </div>
                                        </div>
                                        <div class="form-group row mb-4">
                                            <label class="col-form-label text-md-right col-3 col-md-3 col-lg-3">VND</label>
                                            <div class="col-sm-3 col-md-3">
                                                <input id="preview-price-1" type="text" class="form-control" readonly>
                                            </div>
                                            <label class="col-form-label col-1 col-md-1 col-lg-1">VND</label>
                                            <div class="col-sm-3 col-md-3 justify-content-start">
                                                <input id="preview-price-2" type="text" class="form-control" readonly>
                                            </div>
                                        </div>

                                        <div class="form-group row mb-4">
                                            <label class="col-form-label text-md-right col-3 col-md-3 col-lg-3">Trạng
                                                thái(*)</label>
                                            <div class="col-sm-3 col-md-3">
                                                <select th:field="*{status}" class="form-control selectric">
                                                    <option value="1">Hoạt động</option>
                                                    <option value="2">Dừng</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-4">
                                            <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Ảnh sản
                                                phẩm</label>
                                            <div class="col-sm-12 col-md-7">
                                                <input th:field="*{images_file}" type="file" class="form-control"
                                                       multiple>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-group row mb-4">
                                            <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                                            <div class="col-sm-12 justify-content-center">
                                                <button class="btn btn-primary">Lưu thông tin sản phẩm</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- Main Content -->
        <th:block th:insert="supplier/supplier-fragment::footer"></th:block>
    </div>
</div>
<!--Modal-->
<div class="modal fade" tabindex="-1" role="dialog" id="deleteConfirm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xác nhận yêu cầu thực hiện</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn đang yêu cầu xóa sản phẩm.</p>
                <div class="form-group">
                    <label>Mã sản phẩm</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fas fa-envelope"></i>
                            </div>
                        </div>
                        <input type="text" class="form-control" name="productCode" readonly>
                    </div>
                </div>
            </div>
            <div class="modal-footer bg-whitesmoke br">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary">Đồng ý</button>
            </div>
        </div>
    </div>
</div>

<th:block th:insert="supplier/supplier-fragment::js-block"></th:block>
<!-- Page Specific JS File -->
<script src="/js/product-form.js"></script>

</body>

</html>