<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="admin/admin-fragment::head-css-link"></th:block>
    <title>Quản lý đơn hàng</title>
</head>

<body>
<div id="app">
    <!-- Page Preloder -->
    <div id="pre-loader">
        <div class="loader"></div>
    </div>
    <div class="main-wrapper main-wrapper-1">
        <th:block th:insert="admin/admin-fragment::header-sidebar"></th:block>
        <!-- Main Content -->
        <div class="main-content">
            <section class="section">
                <div class="section-header">
                    <h1>Quản lý đơn hàng</h1>
                    <div class="section-header-breadcrumb">
                        <div class="breadcrumb-item active"><a href="#">Trang chủ</a></div>
                        <div class="breadcrumb-item"><a href="#">Đơn hàng</a></div>
                        <div class="breadcrumb-item">Danh sách</div>
                    </div>
                </div>
                <div class="section-body">
                    <h2 class="section-title">Đơn hàng</h2>
                    <p class="section-lead">
                        Quản lý đơn hàng
                    </p>

                    <div class="row">
                        <div class="col-12">
                            <div class="card mb-0">
                                <div class="card-body">
                                    <ul class="nav nav-pills">
                                        <li class="nav-item">
                                            <a class="nav-link active"><span
                                                    th:text="'Dữ liệu từ ngày: '+${#dates.format(filter_date,'dd-MM-yy')}"
                                                    class="badge badge-white"></span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link">Tổng đơn hàng <span
                                                    th:text="${total_order}"
                                                    class="badge badge-white"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Danh sách đơn hàng</h4>
                                </div>
                                <div class="card-body">
                                    <form>
                                        <div class="float-left">
                                            <select name="status" class="form-control selectric">
                                                <option value="">Tất cả</option>
                                                <option value="2">Chờ xử lý</option>
                                                <option value="3">Vận chuyển</option>
                                                <option value="4">Hoàn tất</option>
                                            </select>
                                        </div>
                                        <div class="float-right">
                                            <div class="input-group">
                                                <input type="number" name="page" class="form-control"
                                                       placeholder="Số trang">
                                                <input type="number" name="size" class="form-control"
                                                       placeholder="Bảng ghi">
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary"><i class="fas fa-filter"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="input-group">
                                                <input id="end" name="date-filter" type="date" class="form-control"
                                                       ata-toggle="tooltip"
                                                       data-placement="bottom"
                                                       title="Chọn ngày cần xem đến ngày hiện tại">
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary"><i class="fa fa-filter"></i>
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                    <div class="clearfix mb-3"></div>
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <tr>
                                                <th>ID Đơn hàng</th>
                                                <th>Ảnh</th>
                                                <th>Tên sản phẩm</th>
                                                <th>Tổng cộng</th>
                                                <th>Ngày tạo</th>
                                                <th>Ngày cập nhật</th>
                                                <th>Trạng thái</th>
                                            </tr>
                                            <th:block th:each="o:${orders}">
                                                <tr>
                                                    <td class="text-uppercase" th:text="${o.orderId}"></td>
                                                    <td>
                                                        <a href="#">
                                                            <img alt="image" th:src="${o.product.images[0].imgName}"
                                                                 class="rounded-circle" width="35"
                                                                 data-toggle="title" title="">
                                                        </a>
                                                    </td>
                                                    <td>[[${o.product.productName}]]
                                                        <div class="table-links">
                                                            <a th:href="@{/admin/don-hang/{orderId}(orderId=${o.orderId})}">Xem
                                                                và xử lý</a>
                                                        </div>
                                                    </td>

                                                    <td th:text="${#numbers.formatDecimal(o.totalPrice, 0, 'POINT', 0, 'COMMA')+'₫'}"></td>
                                                    <td th:text="${#dates.format(o.createDate, 'dd-MM-yyyy')}"></td>
                                                    <td th:text="${#dates.format(o.updateDate, 'dd-MM-yyyy')}"></td>
                                                    <td>
                                                        <div th:if="${o.status == 2}" class="badge badge-warning">
                                                            Chờ xử lý
                                                        </div>
                                                        <div th:if="${o.status == 3}" class="badge badge-info">
                                                            Vận chuyển
                                                        </div>
                                                        <div th:if="${o.status == 4}" class="badge badge-success">
                                                            Thành công
                                                        </div>
                                                        <div th:if="${o.status == 0}" class="badge badge-danger">
                                                            Hủy
                                                        </div>
                                                    </td>
                                                </tr>
                                            </th:block>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <th:block th:insert="admin/admin-fragment::footer"></th:block>
    </div>
</div>


<th:block th:insert="admin/admin-fragment::js-block"></th:block>
<!-- Page Specific JS File -->
<script src="/js/features-post-create.js"></script>
<!-- Page Specific Lib File -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.js"></script>
<script src="/js/components-multiple-upload.js"></script>
<script>
    $(document).ready(function () {
        let today = new Date().toISOString().slice(0, 10);
        $('#end').attr('max', today)
        $('#end').attr('value', today)
    })
</script>
</body>
</html>