<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <title id="pageTitle">Tạo phiên đấu giá</title>
    <th:block th:replace="fragments :: head"></th:block>
    <link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">

</head>
<body>
<header th:replace="fragments :: header"></header>
<main class="site-main">
    <section style="background-color: #FAFDFB; font-size: 18px;">
        <div class="container py-5">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Tạo phiên đấu giá</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="container mb-lg-5">
                <form class="ui form form-create-auction" th:object="${dto}"
                      action="/dau-gia/tao-phien" method="post"
                      enctype="multipart/form-data">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>Tên sản phẩm</label>
                                        <input th:field="*{productKey}" class="form-control" type="text"
                                               placeholder="Tên sản phẩm" required
                                               data-toggle="tooltip"
                                               data-placement="bottom"
                                               title="Vui lòng nhập tên sản phẩm đúng với yêu cầu thực tế">
                                    </div>
                                </div>
                                <div class="col">
                                    <label>Tên danh mục</label>
                                    <div class="dropdown">
                                        <select class="form-select ui selection dropdown"
                                                aria-label="" th:field="*{category}">
                                            <th:block th:each="c:${categories}">
                                                <option th:value="${c.categoryId}" th:text="${c.categoryName}"></option>
                                            </th:block>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label>Ngày bắt đầu</label>
                                    <div class="form-group">
                                        <input th:field="*{createdDate}" id="date-input" onchange="showdate()"
                                               type="date" name="datetime"
                                               value="dd/mm/yyyy"
                                               class="datepicker" required
                                               data-toggle="tooltip"
                                               data-placement="bottom"
                                               title="Chọn ngày bắt đầu phiên đấu giá">
                                    </div>
                                </div>
                                <div class="col">
                                    <label>Giờ bắt đầu</label>
                                    <div class="dropdown">
                                        Được bắt đầu tính khi phiên đấu giá tạo thành công
                                    </div>
                                </div>
                                <div class="col">
                                    <label>Ngày kết thúc</label>
                                    <div class="dropdown">
                                        <select th:field="*{countDay}" id="date-end" onchange="showResult()"
                                                class="form-select ui dropdown"
                                                aria-label=""
                                                name="date-end" required
                                                data-toggle="tooltip"
                                                data-placement="bottom"
                                                title="Chọn ngày kết thúc phiên đấu giá">
                                            <option value="2">2 Ngày</option>
                                            <option value="3">3 Ngày</option>
                                            <option value="4">4 Ngày</option>
                                            <option value="5">5 Ngày</option>
                                            <option value="6">6 Ngày</option>
                                            <option value="7">7 Ngày</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col">
                                    <label>Hiển thị ngày kết thúc đã chọn: </label>
                                    <div>
                                        <p id="output-show"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Giá mong muốn</label>
                                        <input th:field="*{reservePrice}" id="reservePrice" class="form-control"
                                               type="text" required
                                               placeholder="Giá tiền đ"
                                               data-toggle="tooltip"
                                               data-placement="bottom"
                                               title="Giá mong muốn bắt đầu phiên đấu giá">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Giá tiền VNĐ </label>
                                    <div>
                                        <p id="preview-price"
                                           data-toggle="tooltip"
                                           data-placement="bottom"
                                           title="Đổi về mệnh giá VNĐ"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mb-3">
                                    <div class="form-group">
                                        <label>Mô tả người dùng</label>
                                        <textarea th:field="*{description}" id="description" class="form-control"
                                                  rows="5"
                                                  placeholder="Mô tả yêu cầu chất lượng của sản phẩm"
                                                  data-toggle="tooltip"
                                                  data-placement="bottom"
                                                  title="Mô tả thông tin, yêu cầu của sản phẩm cần đấu giá"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Thêm hashtag</label>
                                        <select class="ui fluid search dropdown" id="hagtag" th:field="*{productTagStr}"
                                                data-toggle="tooltip"
                                                data-placement="bottom"
                                                title="Hastag để dễ dàng các nhà cung cấp đưa tham gia sản phẩm đơn giản">
                                            <th:block th:each="tag :${tags}">
                                                <option th:value="${tag.name}" th:text="${tag.name}"></option>
                                            </th:block>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                    <div class="text-center text-sm-left mb-2 mb-sm-0">
                                        <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">Thêm hình ảnh minh họa sản phẩm</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-2">
                                <input type="file"
                                       data-toggle="tooltip"
                                       data-placement="bottom"
                                       title="Ảnh minh họa cho yêu cầu sản phẩm" th:field="*{img}"
                                       accept="image/png, image/jpeg, image/gif"/>
                            </div>
                            <div class=" row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-info">Tạo Phiên Đấu Giá</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
<!--================ Start footer Area  =================-->
<footer th:replace="fragments :: footer">
    <!--================ End footer Area  =================-->
</footer>
<th:block th:replace="fragments :: js_block"></th:block>
<!-- include FilePond library -->
<script src="https://unpkg.com/filepond/dist/filepond.min.js"></script>

<!-- include FilePond plugins -->
<script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.js"></script>

<!-- include FilePond jQuery adapter -->
<script src="https://unpkg.com/jquery-filepond/filepond.jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script th:src="@{/js/home_script.js}"></script>
<script th:src="@{/js/create_auction_form.js}"></script>
<script>

    $('#reservePrice').on('input', function (e) {
        console.log('Kho')
        $('#preview-price').text(formatter.format($(this).val()))
    })
</script>

</body>
</html>