<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="fragments :: head">
  </th:block>
  <title id="pageTitle">Đăng nhập</title>
</head>
<body>
<!--================ Start Header Menu Area =================-->
<header th:replace="fragments :: header">

</header>


<!-- ================ end checkout detail area ================= -->

<footer th:replace="fragments :: footer">
  <!--================ End footer Area  =================-->
</footer>
<th:block th:replace="fragments :: js_block">
</th:block>
</body>
</html>